
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #f0f0f0;
  background: url('./assets/horde-background.png') no-repeat center center fixed; /* Replace with your background image path */
  background-size: cover;
}

h1, h2, h3 {
  font-family: 'Cinzel', serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.content {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.7); 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.home-page {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

.lore-page {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

.characters-page {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

.geography-page {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


